global
  master-worker
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  stats socket /var/run/haproxy.sock user haproxy group haproxy mode 660 level admin expose-fd listeners

defaults
  mode http
  maxconn 4000
  log global
  option tcp-smart-accept
  timeout http-request 10s
  timeout check 10s
  timeout connect 10s
  timeout client 1m
  timeout queue 1m
  timeout server 1m
  timeout http-keep-alive 10s
  retries 3

resolvers docker
  nameserver ns1 127.0.0.11:53
  hold nx 10
  hold obsolete 10
  hold other 10
  hold refused 10
  hold timeout 10
  hold valid 10
  timeout resolve 1
  timeout retry 1
  resolve_retries 1

frontend fe_http
  mode http
  bind :80
  acl letsencrypt-acl path_beg /.well-known
  use_backend letsencrypt_backend if letsencrypt-acl
  default_backend error_backend

frontend fe_https
  mode http
  bind :443 ssl crt /etc/haproxy/ssl/ alpn h2,http/1.1
  acl letsencrypt-acl path_beg /.well-known
  use_backend letsencrypt_backend if letsencrypt-acl
  default_backend error_backend

backend error_backend
  mode http
  http-request deny deny_status 404

backend letsencrypt_backend
  server swiftwave_service "$SWIFTWAVE_SERVICE_ENDPOINT" ssl verify none

program api
  command /dataplaneapi.sh
  no option start-on-reload
